/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font styles */
body{
    font-family: 'Poppins', sans-serif;
}
@media only screen and (max-width:688px) {
    .banner{
        background-color: #2D25A0;
        display: flex;
        flex-direction: column;
        margin-bottom: 47px;
    }
    .banner-heading{
        margin:112px 66px 30px 16px;
    }
    .banner-heading h1{
        color: #FFFFFF;
        font-weight: 700px;
        font-size: 36px;
    }
    .banner-heading a{
        text-decoration: none;
        color: #FFFFFF;
        background-color: #E02C6D;
        padding: 10px 24px;
        margin-bottom: 50px;
    }
    .fas{
        padding-left: 8px;
    }

    .banner-photo img{
        height: 259.17px;
        width: 329px;
    }
    .banner-photo{
        margin-left: 15px;
        margin-right: 16px;
        margin-bottom: 61.83px;
    }
    .players{
        background-color: #6C6C6C;
    }
    .player{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 24px;
        background-color: #FFFFFF;
        padding: 15px;
    }
    .player-photo img{
        width:100%;
    }
    .footer-img{
        margin:43px 71px 50.45px 18px;
    }
    .footer-img img{
        width:100%;
        height: 100%;
    }
    .social-icon{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}